body{
  background-color: #CCCCCC;
  #app{
    .greeting{
      display: block;
      margin: auto;
      text-align: center;
      width: 100%;
    }
  }
  #banner{
    // background-color: #CCCCCC;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    height: 100%;
    margin-bottom: 45px;
    max-height: 200px;
    padding: 10px 0 20px 0;
    position: relative;
    width: 100%;
    .circle{
      background: url(image/avatar.png);
      background-size: cover;
      border: 5px solid #fff;
      border-radius: 50%;
      display: block;
      height: 100%;
      margin: auto;
      min-height: 250px;
      position: relative;
      width: 250px;
      z-index: 2;
      @media(max-width:780px){
       min-height: 150px;
       width: 150px;
      }
      @media(max-width:700px){
        margin: 45px 70px;
      }
      @media(max-width:600px){
        margin: 45px 40px;
      }
      @media(max-width:535px){
        margin: 45px 10px;
      }
      @media(max-width:535px){
        min-height: 100px;
        width: 100px;
        margin: 72px 10px;
      }
      @media(max-width:325px){
        margin: 30px auto;
      }
    }
    .rectangle{
      background: url(image/rect-back.jpg);
      height: 100%;
      max-height: 150px;
      position: absolute;
      width: 100%;
      top: 60px;
      z-index: 1;
      @media(max-width:780px){
        max-height: 110px;
        top: 35px;
      }
      @media(max-width:700px){
        max-height: 200px;
      }
      .right{
        color: #fff;
        position: absolute;
        right: 45px;
        top: 0;
        @media(max-width:1145px){
          font-size: 18px;
          top: 20px;
        }
        @media(max-width:930px){
          font-size: 15px;
          top: 30px;
          right: 5px;
        }
        @media(max-width:780px){
         top: 15px;
        }
        @media(max-width:700px){
          right: 60px;
          top: 85px;
        }
        @media(max-width:500px){
          font-size: 12px;
          top: 97px;
        }
        @media(max-width:455px){
          right: 10px;
        }
        @media(max-width:345px){
          font-size: 10px;
        }
        @media(max-width:325px){
          right: 57px;
          top: 145px;
        }
        .email,.number{
          a{
            color: #fff;
          }
        }
      }
      .left{
        color: #fff;
        position: absolute;
        left: 45px;
        top: 0;
        @media(max-width:1145px){
          font-size: 18px;
          top: 30px;
        }
        @media(max-width:930px){
          font-size: 15px;
          top: 30px;
          left: 5px;
        }
        @media(max-width:780px){
          top: 15px;
        }
        @media(max-width:700px){
          left: unset;
          right: 78px;
        }
        @media(max-width:500px){
          font-size: 12px;
          top: 32px;
        }
        @media(max-width:455px){
          right: 23px;
        }
        @media(max-width:345px){
          font-size: 10px;
          top: 43px;
        }
        @media(max-width:325px){
          right: 69px;
          top: 105px;
        }
        .job{
          @media(max-width:325px){
            margin-top: -3px;
          }
        }
      }
    }
  }
  #details{
    background-color: #CCCCCC;
    .about_me{
      font-family: 'Rokkitt', serif;
      font-size: 18px;
      .title{
        display: inline-block;
        font-family: 'Anton', sans-serif;
        font-size: 24px;
        margin: auto;
      }
      .employment{
        display: inline-block;
        max-width: calc(33.333% - 2px);
        text-align: center;
        vertical-align: top;
        width: 100%;
        @media(max-width:1225px){
          display: block;
          margin: auto;
          max-width: 100%;
        }
        .case{
          display: inline-block;
          max-width: 40px;
          vertical-align: bottom;
          width: 100%;
        }
        .job1{
          margin: 50px 0;
          p{
            font-weight: bold;
          }
        }

        .job1 p+p{
          font-weight: unset;
        }
        .job2 p{
          font-weight: bold;
        }
        .job2 p+p{
          font-weight: unset;
        }
      }
      .education{
        display: inline-block;
        max-width: calc(33.333% - 1px);
        text-align: center;
        vertical-align: top;
        width: 100%;
        @media(max-width:1225px){
          display: block;
          margin: auto;
          max-width: 100%;
        }
        .education1 {
          margin: 50px 0;
          p{
            font-weight: bold;
          }
        }

        .education1 p+p{
          font-weight: unset;
        }
        .education2 p{
          font-weight: bold;
        }
        .education2 p+p{
          font-weight: unset;
        }
        .hat{
          display: inline-block;
          max-width: 40px;
          vertical-align: bottom;
          width: 100%;
        }
      }
      .skills{
        display: inline-block;
        max-width: calc(33.333% - 1px);
        text-align: center;
        vertical-align: top;
        width: 100%;
        @media(max-width:1225px){
          display: block;
          margin: auto;
          max-width: 400px;
          width: 100%;
        }
        .skills-header{
          margin-bottom: 50px;
        }
        .text-left{
          text-align: left;
          .percentage{
            background-color: black;
            color: #fff;
            display: inline-block;
            max-width: 30px;
            padding: 0 10px;
            width: 100%;
            @media(max-width:1225px){
              font-size: 15px;
            }
            @media(max-width:420px){
              font-size: 14px;
            }
            @media(max-width:391px){
              font-size: 12px;
            }
            @media(max-width:340px){
              font-size: 10px;
            }
          }
          .description{
            background: red;
            color: #fff;
            display: inline-block;
            padding: 0 10px;
            max-width: 394px;
            @media(max-width:1225px){
              font-size: 15px;
            }
            @media(max-width:420px){
              font-size: 14px;
            }
            @media(max-width:391px){
              font-size: 12px;
            }
            @media(max-width:340px){
              font-size: 10px;
            }
          }
        }
        .skill1{
          .description{
            width: 80.10% !important;
            @media(max-width:420px){
              width: 70.10% !important;
            }
          }
        }
        .skill2{
          .description{
            width: 80.10% !important;
            @media(max-width:420px){
              width: 70.10% !important;
            }
          }
        }
        .skill3{
          .description{
            width: 57.85% !important;
            @media(max-width:420px){
              width: 47.85% !important;
            }
          }
        }
        .skill4{
          .description{
            width: 62.30% !important;
            @media(max-width:420px){
              width: 52.30% !important;
            }
          }
        }
        .skill5{
          .description{
            width: 44.50% !important;
            @media(max-width:420px){
              width: 34.50% !important;
            }
          }
        }
        .skill6{
          .description{
            width: 26.70% !important;
            @media(max-width:420px){
              width: 16.70% !important;
            }
          }
        }
        .skill7{
          .description{
            width: 71.20% !important;
            @media(max-width:420px){
              width: 61.20% !important;
            }
          }
        }
        .skill8{
          .description{
            width: 66.75% !important;
            @media(max-width:420px){
              width: 56.75% !important;
            }
          }
        }
        .skill9{
          .description{
            width: 53.40% !important;
            @media(max-width:420px){
              width: 43.40% !important;
            }
          }
        }
        .box{
          display: inline-block;
          max-width: 24px;
          vertical-align: bottom;
          width: 100%;
        }
      }
    }
    .title, .case, .hat, .box{
      margin-top: 30px;
    }
  }
}
